:root {
    --primiary-color: rgb(66, 95, 122);
    --secondary-color: rgb(106, 167, 181);

}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color:var(--primiary-color);
}

/* styles for header */
header {
    background-color: rgb(26, 26, 31);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    pad: 20px 0px;
    align-items: center;
    background-size: cover;
}
header h1{
    color:var(--primiary-color);
    background-color: var(--secondary-color);
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    padding: 2px, 2px, 2px, 50px;
}
.headerh1 {
    padding: 5px, 5px, 5px, 50px;
}
header a{
    text-decoration: none;
    color: var(--primiary-color);
}
header nav {
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 35px;
}
header nav ul li a{
    padding: 10px 15px;
    border-bottom: 10px;
    border-color: var(--secondary-color);
    font-weight: light;
    font-size: 2vw;
    color: var(--secondary-color);
} 
header nav ul li a:hover {
    background:var(--secondary-color);
    color:var(--primiary-color);
    width: 100%;
    border-radius: 15px;
}

section{
    padding: 30px 10px;
}

/* style for the hero */
.hero{
    background-image: url(../images/photo.png);
    background-size: cover;
    height: 250px;
    width: 100%;
    background-position: center;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: flex-end;
    background-attachment: fixed;
    /* padding: 110px 10px 10px 30px; */
}

.hero h2 {
    background-color: var(--secondary-color);
    border: 10px 5px;
    align-self: end;
    font-size: 35px;
    padding: 20px;
}

/* style for the main parts */
.intro {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: felx-start;
}
.flex-row {
    width: 20%;
    text-align: right;
    font-size: 3.5vw;
    padding: 0px 15px;
    
}
.flex-row h1 {
    color: var(--primiary-color);
}
.myself {
    width: 75%;
    padding: 5px 15px;
    border-left: 2px solid var(--primiary-color);
}
.introduction {
    font-size: 3vw;
}

/* styles for my work */
.work1, .work-movie, .smallwork, .work-labnotebook {
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    position: relative; 
    opacity: 70%;
    border: 4px var(--secondary-color) solid;
    text-decoration: none;
    color: rgb(15, 30, 33);
}
.work1 {
    margin: 10px 1% 5px 1%;
    background-image: url("../images/daily-planer.png");
    height: 300px;
}

.work-labnotebook {
    margin: 10px 1% 5px 1%;
    background-image: url("../images/labnotebook.png");
    height: 300px;
}

.work-movie {
    margin: 10px 1% 5px 1%;
    background-image: url("../images/movie-search.png");
    height: 300px;
}

.work1:hover {
    opacity: 100%;
}

.work-movie:hover {
    opacity: 100%;
}
.frame,.small1{
    position: relative;
    bottom: 20px;
    background-color: var(--secondary-color);
    padding:10px 20px;
}
.frame h3 {
    font-size: 20px;
}

.work2 {
    display: flex;
    flex-wrap: wrap;
}
.led-wall {
    background-image: url("../images/taskmaster\ pro.png");
}
.calculator {
    background-image: url("../images/codequiz.png");
}
.puzzles {
    background-image: url("../images/weather-dashboard.png");
}
.runbuddy {
    background-image: url("../images/runbuddy2.png");
}
.smallwork:hover {
    opacity: 100%;
}


.smallwork {
    width:48%;
    height: 150px;
    margin: 1%;
}



/* style for contact me */
.contact-info {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 20px 35px;
}
.contact-info li {
    border-bottom: 3px solid var(--primiary-color);
}
.contact-info li a, .contact-info li h4{
    color: var(--primiary-color);
    font-size: 2vw;
    text-decoration:none;
}

/* Media query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1{
        width:100%;
        text-align: center;
    }
    header nav ul{
        text-align: center;
        width: 100%;
    }
    header nav ul li a{
        text-align: center;
        width: 100%;
    }
}

/* Media quaery for tablets and smaller */
@media screen and (max-width: 768px) {
    section {
        padding:30px 15px;
    }
    .flex-row {
        width: 100%;
        text-align: center;
    }
    .myself {
        width:100%;
        display: flex;
        border-top: 2px var(--primiary-color) solid;
        border-left: none;
        flex-wrap: wrap;
    }
    .work1, .work-movie {
        width: 100%;
        height: 250px;
    }
    .smallwork{
        width: 100%;
        height:150px;
    }
    .contact-info {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

/* Media query for mobile phones and smaller */
@media screen and (max-width: 575px) {
    .work1, .work-movie {
        height:
    }
    .smallwork {
        height: 100px;
    }
    
}